.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

ul {
  display: flex;
}

ul li {
  margin-left: 10px;
}

ul li, ul li a {
  transition: color 0.5s;
}
ul li:hover, ul li a:hover {
  color: #39C2D7;
}

img {
  box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
  border-collapse: collapse;
}

article {
  padding: 0 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #c8c8c8;
  font-size: 20px;
  line-height: 24px;
}
article:not(:first-child):not(:nth-child(2)) .subtitle {
  cursor: pointer;
}
article:not(:first-child):not(:nth-child(2)) .subtitle:hover {
  color: #39C2D7;
  transition: color 0.5s;
}
article:not(:first-child):not(:nth-child(2)) {
  max-height: 38px;
  overflow: hidden;
  transition: max-height 0.5s;
}
article:not(:first-child):not(:nth-child(2)).opened {
  max-height: 1000px;
}

article p i {
  margin-left: 10px;
  float: right;
  font-size: 18px;
  color: #39C2D7;
}

.subtitle {
  font-size: 24px;
  margin-bottom: 10px;
  transition: color 0.5s;
}

.common-information img {
  width: 100%;
}

.votes p {
  text-align: center;
  margin: 10px 0;
}

.overview {
  text-align: justify;
}

.general-container p:not(.subtitle), .trailer-container p:not(.subtitle) {
  margin-left: 20px;
}

.general-container p:not(.subtitle):not(:last-child), .general-container ul {
  margin-bottom: 10px;
}

.genres-container, .casts-container {
  display: flex;
  align-items: flex-end;
}

.genres-container ul li:before, .casts-container ul li:before:not(:last-child) {
  content: '-';
}

.genres-container ul li:not(:last-child):after, .casts-container ul li:not(:last-child):after {
  content: ',';
}

.genres-container ul li:last-child:after, .casts-container ul li:last-child:after {
  content: ';';
}

.casts-container ul li:hover .tooltip {
  display: block;
}

.casts-container ul li .tooltip p {
  margin-left: 0;
  text-align: center;
}

.tooltip {
  max-width: 120px;
  display: none;
  padding: 10px;
  position: absolute;
  box-shadow: 0px 0px 5px 1px #39C2D7;
  background-color: #fff;
}

.tooltip img {
  width: 100px;
  display: block;
  margin: 0 auto;
}

a.collection-name {
  margin-left: 20px;
  cursor: pointer;
  transition: color 0.5s;
}

.collection-container ul, .similar-films ul {
  min-width: 100%;
  margin-left: 10px;
  flex-wrap: wrap;
}
.collection-container ul li, .similar-films ul li{
  min-width: 100px;
  max-width: 15%;
}
figure, figure img {
  min-width: 100%;
  max-width: 100%;
}
figure figcaption {
  text-align: center;
}

.companies-container ul {
  flex-direction: column;
  margin-left: 10px;
}

.video-container {
  width: 100%;
  height: 350px;
  margin: 0 auto;
  margin-top: 20px;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
  border-collapse: collapse;
}

.similar-films ul {
  justify-content: space-between;
  margin-top: 20px;
}

@media all and (min-width: 250px) and (max-width: 651px) {
  .video-container {
    height: 300px;
  }

  .genres-container, .genres-container ul, .casts-container, .casts-container ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .genres-container ul, .casts-container ul {
    margin-left: 20px;
  }

  .genres-container ul li:before, .casts-container ul li:before {
    content: '-';
    margin-right: 5px;
  }

  .collection-container ul, .similar-films ul {
    flex-wrap: wrap;
  }

  @media all and (min-width: 250px) and (max-width: 551px) {
    .video-container {
      height: 250px;
    }
  }

  @media all and (min-width: 250px) and (max-width: 451px) {
    .video-container {
      height: 200px;
    }
  }

  @media all and (min-width: 250px) and (max-width: 351px) {
    .video-container {
      height: 150px;
    }
  }

}


