article p {
  font-size: 24px;
  margin: 10px;
  font-weight: bold;
  color: #39C2D7;
}

ul {
  margin: 10px 0;
}

ul li a{
  padding-left: 10px;
}

ul li, ul li a {
  width: 100%;
}
ul li a{
  display: block;
  cursor: pointer;
  transition: color 0.5s;
  line-height: 24px;
}

ul li a:before {
  content: '-';
  margin-right: 5px;
}

ul li a:hover {
  color: #39C2D7;
  background-color: #464547;
  transition: color 0.5s;
}

.active {
  border-right: 5px solid #39C2D7;
}
