article p {
  font-family: 'Cabin', sans-serif;
  font-size: 24px;
  color: rgb(228, 228, 228);
  margin: 10px 20px;
}

ul li:last-child {
  margin-bottom: 10px;
}

ul li a{
  font-family: 'Cabin', sans-serif;
  cursor: pointer;
  color: rgb(200, 200, 200);
  transition: color 0.5s;
  line-height: 24px;
  margin-left: 30px;
}

ul li a:before {
  content: '-';
  margin-right: 5px;
}

ul li.active {
  background-color: rgb(20, 20, 20);
}

ul li a:hover {
  text-decoration: underline;
  color: #A9C67C;
  transition: color 0.5s;
}
