<section>
    <a class="title" routerLink="/detail/{{film.id}}">{{film.title}}</a>
    <article class="film-body">
        <img src="{{film.poster_path}}">
        <article class="film-info">
          <p>{{film.overview}}</p>
          <p>Release : {{film.release_date}}</p>
          <article class="genres" *ngIf="film.genre_ids.length">
            <p>Genres : </p>
            <ul>
              <li *ngFor="let genre of film.genre_ids">
                <a href="genres/{{genre.id}}/page/1">{{genre.name}}</a>
              </li>
            </ul>
          </article>
        </article>
      </article>
</section>

