section:hover {
  background-color: rgb(15, 15, 15);
  transition: background-color 0.5s;
}

section {
  border-top: 2px solid rgb(30, 30, 30);
  border-bottom: 2px solid rgb(30, 30, 30);
  margin: 10px 0;
  padding: 0 20px;
  transition: background-color 0.5s;
}

.title {
  display: block;
  border-bottom: 1px solid #A9C67C;
  color: rgb(200, 200, 200);
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.5s;
  padding: 10px 0;
}

.title:hover {
  color: #A9C67C;
  transition: color 0.5s;
}

.film-body {
  display: flex;
  margin: 10px 0;
  margin-bottom: 20px;
  padding: 20px;
}

.film-body img {
  margin-right: 10px;
}

.film-body p {
  line-height: 20px;
  margin-bottom: 10px;
  color: rgb(200, 200, 200);
}

.genres {
  display: flex;
}

.genres p {
  margin-right: 5px;
}

.genres ul li a{
  line-height: 20px;
  cursor: pointer;
  color: rgb(200, 200, 200);
  transition: color 0.5s;
}

.genres ul li a:before {
  content: '-';
  margin: 0 5px;
}

.genres ul li a:hover {
  text-decoration: underline;
  color: #A9C67C;
  transition: color 0.5s;
}
