<section>
    <p class="title" (click)="openFilm(film.id)">{{film.title}}</p>
    <article class="film-body">
        <img src="https://image.tmdb.org/t/p/w200{{film.poster_path}}">
        <article class="film-info">
          <p>{{film.overview}}</p>
          <p>Release : {{film.release_date}}</p>
          <article class="genres">
            <p>Genres : </p>
            <ul>
              <li *ngFor="let genre of film.genre_ids">
                {{genre}}
              </li>
            </ul>
          </article>
        </article>
      </article>
</section>

