section {
  position: relative;
  border-bottom: 2px solid #c8c8c8;
  margin: 10px 0;
  padding: 0 20px;
}

.film-info {
  width: 70%;
}

.title {
  display: block;
  color: #464547;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.5s;
  padding: 10px 0;
  max-width: max-content;
}

.title:hover {
  color: #39C2D7;
}

.bookmark, .added-bookmark {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.bookmark  {
  fill: #464547;
}
.bookmark:hover {
  fill: #39C2D7;
}
.added-bookmark path:last-child {
  fill: #39C2D7;
}
.added-bookmark:hover {
  fill: #800000;
}

.film-body {
  display: flex;
  margin: 10px 0;
  margin-bottom: 20px;
  padding: 20px;
}

.film-body img {
  margin-right: 10px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
  border-collapse: collapse;
}

.film-body p {
  line-height: 20px;
  margin-bottom: 10px;
  text-align: justify;
}

.genres {
  display: flex;
}

.genres p {
  margin-right: 5px;
}

.genres ul {
  width: 100%;
}

.genres ul li {
  width: 100%;
}

.genres ul li a{
  display: block;
  padding: 5px 0;
  cursor: pointer;
  transition: color 0.5s;
  width: 100%;
}

.genres ul li a:before {
  content: '-';
  margin: 0 5px;
}

.genres ul li a:hover {
  color: #39C2D7;
  background-color: #464547;
}
