.wrapper {
  position: relative;
  min-height: 100%;
}

.content {
  padding-bottom: 100px;
}

.center {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header,
footer {
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 24px;
  line-height: 50px;
}

header {
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
}

header a img {
  width: 24px;
  height: 24px;
  margin-right: 20px;
  cursor: pointer;
}

header a span {
  color: #F2481D;
}

main {
  display: flex;
}

genres-list {
  width: 20%;
  background-color: rgb(30, 30, 30);
  padding: 20px;
}

.films-container {
  width: 80%;
  background-color: rgb(20, 20, 20);
  padding: 20px 0;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  float: right;
}
