.wrapper {
  position: relative;
  min-height: 100%;
}

.content {
  padding-bottom: 100px;
}

.center {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header,
footer {
  background-color: #464547;
  color: #fff;
}

header {
  padding: 10px 0;
}
header .center {
  display: flex;
  justify-content: space-between;
}

.settings {
  background-color: #fff;
  margin-bottom: 20px;
}

.settings .center {
  display: flex;
  justify-content: flex-end;
}

.settings ul {
  display: flex;
}

.settings ul li {
  margin-left: 20px;
  padding: 10px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 5px solid transparent;
}

.settings ul li:hover {
  color: #39C2D7;
}

.settings ul li.active {
  border-bottom-color: #39C2D7;
}

.settings ul li img {
  margin-left: 10px;
}

footer {
  margin-top: 20px;
  font-size: 24px;
  line-height: 50px;
}

footer p {
  color: #fff;
}

footer p a {
  font-weight: bold;
}

.home-page {
  width: 30px;
  height: 30px;
  fill: #fff;
}

.home-page:hover {
  fill: #39C2D7;
}

footer p a {
  color: #39C2D7;
}

header .search-container {
  position: relative;
  display: flex;
}

.search-container input {
  background-color: #fff;
  color: #464547;
  border: none;
  padding: 0 10px;
  border-radius: 5px;
  min-width: 250px;
}

.search-results {
  box-shadow: 0px 0px 5px 1px #39C2D7;
  background-color: #fff;
  color: #464547;
  position: absolute;
  top: 40px;
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  z-index: 1;
}

.search-results ul li img {
  width: 50px;
  float: left;
  margin-right: 10px;
}

.search-results ul li:hover {
  background-color: #464547;
  color: #fff;
}
.search-results ul li {
  padding: 15px;
  cursor: pointer;
}

.search-results ul li:not(:last-child) {
  border-bottom: 1px solid #c8c8c8;
}

.search-results ul li:nth-child(5) {
  text-align: right;
}

.search-container .search-button {
  width: 20px;
  height: 20px;
  margin: 5px;
  fill: #fff;
  cursor: pointer;
}

.search-container .search-button:hover {
  fill: #39C2D7;
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.category-container, .genres-container, .films-container {
  background-color: #fff;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  border-collapse: collapse;
}

.category-container, .genres-container {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.category-container p, .genres-container p {
  border-bottom: 1px solid #c8c8c8;
}

.sidebar {
  min-width: 20%;
  max-width: 20%;
  height: max-content;
}

.sidebar article p {
  font-size: 24px;
  padding: 10px;
  font-weight: bold;
  color: #39C2D7;
}

.sidebar ul {
  margin: 10px 0;
}

.sidebar ul li a{
  padding-left: 20px;
}

.sidebar ul li, ul li a {
  width: 100%;
}

.sidebar ul li a{
  display: block;
  cursor: pointer;
  transition: color 0.5s;
  line-height: 24px;
}

.sidebar ul li a:before {
  content: '-';
  margin-right: 5px;
}

.sidebar ul li a:hover {
  color: #39C2D7;
  background-color: #464547;
  transition: color 0.5s;
}

.sidebar .active {
  border-right: 5px solid #39C2D7;
}

.sidebar p i {
  display: none;
}

.films-container {
  min-width: 78%;
  max-width: 78%;
  padding: 20px 0;
  padding-bottom: 80px;
  position: relative;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  float: right;
}

@media all and (min-width: 100px) and (max-width: 851px) {

  .main-content {
    flex-direction: column;
  }

  .sidebar, .category-container, .genres-container, .films-container {
    min-width: 100%;
    max-width: 100%;
  }

  .sidebar p i {
    color: #39C2D7;
    display: block;
    float: right;
  }

  .category-container, .genres-container {
    max-height: 45px;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  .category-container.opened {
    max-height: 200px;
  }

  .genres-container.opened {
    max-height: 600px;
  }

  .sidebar ul {
    margin: 0;
  }

  .sidebar ul li a{
    padding: 10px;
    margin: 0 10px;
    border-bottom: 5px solid transparent;
  }

  .sidebar ul li, ul li a {
    width: max-content;
  }

  .sidebar ul li a:before {
    content: '';
    margin-right: 0;
  }

  .sidebar ul li a:hover {
    color: #39C2D7;
    background-color: transparent;
    transition: color 0.5s;
  }

  .sidebar ul li a.active {
    border-right: none;
    border-bottom: 5px solid #39C2D7;
  }

  .category-container ul, .genres-container ul {
    display: flex;
  }

  .category-container ul {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .genres-container ul{
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media all and (min-width: 100px) and (max-width: 420px) {

    .search-container input {
      min-width: 200px;
    }

  }

}
